<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

<div class="container">

  <div class="page-header">
    <% @x = @active_categories.find(@product.category_id) %>
    <h1><%= @x.category_name%></h1>
  </div>


  <div class="col-md-3">
    <% @active_categories.each do |c| %>
        <div class="list-group">
          <div><%= link_to(c.category_name, store_path(:category_id => c.id), :method => :GET, :class =>'list-group-item') %></div>
        </div>
    <% end %>
  </div>

  <div class="col-md-5">
    <div class="thumb">

      <% imageArray = Array.new
         x = 0
         @images.each do |pimage|
           imageArray << pimage
         end

      %>


      <% if imageArray.length == 0 %>
          <img src="/system/images/not_available/product-images-not-available-img_retina.jpg">
      <% else %>

              <%  while x < imageArray.length do%>

                  <% if x == 0 %>
                        <a href="<%= imageArray[x].image.url(:retina) %>" data-lightbox="Product_<%= @product.id %>">
                        <%= image_tag(imageArray[x].image.url(:preview)) %></a>
                        <% x = x +1
                     else %>
                        <a class ="hidden" href="<%= imageArray[x].image.url(:retina) %>" data-lightbox="Product_<%= @product.id %>"></a>
                        <img class="hidden" src="<%=imageArray[x].image.url(:preview) %>">
                        <% x = x +1
                     end %>
              <% end %>

      <% end %>

      <div class="caption" id="product_description">
        <h3><%= @product.product_name %></h3>
        <p><%= @product.note%></p>

        <span class="product_price"><%= number_to_currency(@product.price)%></span>
        <span class="product_buttons"><%=link_to('Buy Now', "/carts/#{@product.id}", :method => :POST, :class => 'btn btn-primary')%></span>


      </div>
    </div>
  </div>

</div>


