<%= render "/layouts/flash_error"%>
<%= render "/layouts/admin_navigation"%>

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <table class="table table-hover.table-bordered">
    <thead>
    <th>Category</th>
    <th>Active?</th>
    <th>Action</th>
    </thead>

    <tbody>

    <%@categories.each do |c| %>
    <tr>
      <td id="category_name"><%= c.category_name%></td>
      <td id="category_active"><%= c.active%></td>
      <td><%= link_to('Inactivate', admin_category_path(c), :method => :delete) %> |
          <%= link_to 'Edit', edit_admin_category_path(c)%> </td>
    </tr>
    <% end %>

    </tbody>
  </table>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <h4>Add Category</h4>
  <%= simple_form_for @category, url: admin_categories_path, :method => :POST do |form| %>

    <form>
        <div class="form-group">

          <%= form.input :category_name, :input_html => {:maxlength => 30, :style=> 'width: 250px'}%>
          <%= form.input :active, :as => :boolean, :label => false, :default => true, :inline_label => 'Active'%>
          <%= form.button :submit, class: "btn btn-primary"%>

        </div>
    </form>
  <% end %>
</div>


