<%= render "/layouts/admin_navigation"%>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <div class="">
      <% if @products.empty? %>
        <span class="text-warning">There are no current products to display.</span>
      <% else %>
        <table class="table table-hover.table-bordered">
          <thead>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Created At</th>
            <th>Archived?</th>
            <th>Action</th>
          </thead>

          <tbody>
            <% @products.each do |product|%>
              <tr>
                <td><%= link_to product.product_name, admin_product_path(product)%></td>
                <td><%= product.category.category_name %></td>
                <td><%= number_to_currency(product.price) %></td>
                <td><%= product.created_at.strftime('%d %b') %></td>
                <td><%= product.archived %></td>
                <td><%= link_to 'Delete', admin_product_path(product), :method => :delete %> |
                    <%= link_to 'Edit', edit_admin_product_path(product) %> </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <% end %>
    </div>
</div>