<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <div>
        <div class="hero-unit">
             <h1>ToDo</h1>
            <p>Welcome to my ToDo application</p>
        </div>
      </div>
    </div>

    <div class="span10 offset1 offset1">
      <div>
        <ul class="nav nav-pills">
          <li><%= link_to "Tasks", root_path%></li>
          <li><%= link_to 'New Task', new_task_path%></li>
          <li><%= link_to 'Categories', categories_path%></li>
        </ul>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
