<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <div>
        <div class="hero-unit">
             <h1>Products</h1>
            <p>Welcome to products application</p>
        </div>
      </div>
    </div>

<%= yield %>



</div>
  <%= render "/layouts/footer"%>
</body>
</html>
